<div class="who-we-are-container">
  <app-header rootClassName="header-root-class-name2"></app-header>
  <div class="who-we-are-testimonial">
    <h1 class="who-we-are-text">Our founders</h1>
    <span class="who-we-are-text01">
      <span>
        The team was formed with members with experience from various companies
        such
      </span>
      <br />
      <span>as Meta, Amazon, JPMorgan Chase, and FromTheCulture</span>
      <br />
    </span>
    <div class="who-we-are-container1">
      <header class="who-we-are-testimonial-card">
        <svg viewBox="0 0 1024 1024" class="who-we-are-icon">
          <path
            d="M800 640c-123.712 0-224-100.29-224-224 0-123.712 100.288-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.634-11.636 22.252-24.016 31.83-37.020-11.438 1.8-23.16 2.746-35.104 2.746zM224 640c-123.71 0-224-100.29-224-224 0-123.712 100.29-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.636-11.636 22.254-24.016 31.832-37.020-11.44 1.8-23.16 2.746-35.106 2.746z"
          ></path>
        </svg>
        <div class="who-we-are-testimonial1">
          <span class="who-we-are-text06">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem
            lorem, malesuada in metus vitae, scelerisque accumsan ipsum. Nam
            pellentesque nulla leo, sagittis vehicula sem commodo nec.
          </span>
          <a
            href="https://www.linkedin.com/in/keith-cybersecurity/"
            target="_blank"
            rel="noreferrer noopener"
            class="who-we-are-link"
          >
            <img
              alt="image"
              src="/assets/keithpfp-200h.jpg"
              loading="eager"
              class="who-we-are-image"
            />
          </a>
          <span class="who-we-are-text07">Keith Jia</span>
        </div>
      </header>
      <header class="who-we-are-testimonial-card1">
        <svg viewBox="0 0 1024 1024" class="who-we-are-icon2">
          <path
            d="M800 640c-123.712 0-224-100.29-224-224 0-123.712 100.288-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.634-11.636 22.252-24.016 31.83-37.020-11.438 1.8-23.16 2.746-35.104 2.746zM224 640c-123.71 0-224-100.29-224-224 0-123.712 100.29-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.636-11.636 22.254-24.016 31.832-37.020-11.44 1.8-23.16 2.746-35.106 2.746z"
          ></path>
        </svg>
        <div class="who-we-are-testimonial2">
          <span class="who-we-are-text08">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem
            lorem, malesuada in metus vitae, scelerisque accumsan ipsum. Nam
            pellentesque nulla leo, sagittis vehicula sem commodo nec.
          </span>
          <a
            href="https://www.linkedin.com/in/siva-dosapati-205b333/"
            target="_blank"
            rel="noreferrer noopener"
            class="who-we-are-link1"
          >
            <img
              alt="image"
              src="/assets/sivapfp-200h.jpg"
              class="who-we-are-image1"
            />
          </a>
          <span class="who-we-are-text09">Siva Dosapoti</span>
        </div>
      </header>
      <header class="who-we-are-testimonial-card2">
        <svg viewBox="0 0 1024 1024" class="who-we-are-icon4">
          <path
            d="M800 640c-123.712 0-224-100.29-224-224 0-123.712 100.288-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.634-11.636 22.252-24.016 31.83-37.020-11.438 1.8-23.16 2.746-35.104 2.746zM224 640c-123.71 0-224-100.29-224-224 0-123.712 100.29-224 224-224s224 100.288 224 224l1 32c0 247.424-200.576 448-448 448v-128c85.474 0 165.834-33.286 226.274-93.726 11.636-11.636 22.254-24.016 31.832-37.020-11.44 1.8-23.16 2.746-35.106 2.746z"
          ></path>
        </svg>
        <div class="who-we-are-testimonial3">
          <span class="who-we-are-text10">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lorem
            lorem, malesuada in metus vitae, scelerisque accumsan ipsum. Nam
            pellentesque nulla leo, sagittis vehicula sem commodo nec.
          </span>
          <a
            href="https://www.linkedin.com/in/iammarkmonroe/"
            target="_blank"
            rel="noreferrer noopener"
            class="who-we-are-link2"
          >
            <img
              alt="image"
              src="/assets/markpfp-200h.jpg"
              class="who-we-are-image2"
            />
          </a>
          <span class="who-we-are-text11">Mark Monroe</span>
        </div>
      </header>
    </div>
  </div>
</div>
