<div class="home-container">
  <app-header rootClassName="header-root-class-name"></app-header>
  <div class="home-container1"></div>
  <div class="home-banner">
    <div class="home-container2">
      <h1 class="home-text">Be the first to get the latest updates</h1>
      <span class="home-text1">
        <span>
          We are currently still in the stealth startup phase but feel free to
          subscribe
        </span>
        <br />
        <span>for future updates on the status of our development.</span>
        <br />
      </span>
      <div class="home-container3">
        <input
          type="text"
          placeholder="Email here..."
          class="home-textinput input"
        />
        <button class="home-button button">Subscribe</button>
      </div>
    </div>
  </div>
</div>
